.rentals-hero {
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rentals-hero-text {
  padding: 20px;
  margin: 0 auto;
}

.rentals-hero h2 {
  font-family: 'PSG Font', sans-serif;
  margin-bottom: 20px;
  font-size: 48px;
}

.rentals-hero p {
  font-size: 24px;
  line-height: 1.3;
}
