<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="about-hero">
        <div class="about-hero-text">
          <h2>About PSG</h2>
          <p>
            Press Start Gaming is a grass-roots gaming community. Our mission is
            to help bring gamers together. PSG was founded on March 1, 2019 by
            @Beeker and @Drtbkr26. They started the Community as a small group
            of friends playing Squad. The Community was turned over to @Ignis in
            2021 and @GabeValentine in 2024. Over the years, PSG has grown to
            have over 200 Members playing a variety of games. We host game
            servers for Squad, Squad 44, Minecraft, FoundryVTT, Valheim, Arma 3,
            and FiveM. We also have a Discord server where you can chat with
            other members, join events, and more. We are always looking for new
            members to join our community. If you are interested in joining,
            please visit our Discord server.
          </p>
        </div>
      </section>
      <section class="about-members">
        <h2>Board of Directors</h2>
        <div class="member-tile-container">
          <div class="member-tile">
            <img
              src="/resources/avatars/gabevalentine.png"
              alt="GabeValentine"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - GabeValentine</h2>
              <p>• Executive Director</p>
              <p>• Member Since: June 14, 2020</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/ignis.png"
              alt="Ignis"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - Ignis</h2>
              <p>• Executive Director</p>
              <p>• Technical Director</p>
              <p>• Member Since: May 12, 2019</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/cruisectrl.png"
              alt="CruiseCtrl"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - CruiseCtrl</h2>
              <p>• Executive Director</p>
              <p>• Member Since: November 22, 2020</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/kitty.png"
              alt="KittyGotClawz"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - KittyGotClawz</h2>
              <p>• Community Director</p>
              <p>• Member Since: July 15, 2020</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/rats.png"
              alt="Rats"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - A Bunch of Rats In A Trench Coat</h2>
              <p>• Membership Director</p>
              <p>• Member Since: July 30, 2021</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/goofy.png"
              alt="TheG00fyGooba"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - TheG00fyGooba</h2>
              <p>• Squad Director</p>
              <p>• Member Since: November 19, 2020</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/salparadise.png"
              alt="SalParadise21"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - SalParadise21</h2>
              <p>• Foxhole Director</p>
              <p>• Member Since: November 9, 2023</p>
            </div>
          </div>
          <div class="member-tile">
            <img
              src="/resources/avatars/mercenary.png"
              alt="Mercenary"
              onerror="this.onerror=null;this.src='/resources/PixelBud.png';"
            />
            <div class="member-tile-content">
              <h2>PSG - Mercenary</h2>
              <p>• Arma Director</p>
              <p>• Member Since: June 14, 2020</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('footer') %>

    <script src="/js/scripts.js"></script>
  </body>
</html>
