<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/account.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="account-hero">
        <div class="account-hero-text">
          <h2>Account</h2>
        </div>
      </section>
      <%- include('separator') %>
    </main>

    <%- include('footer') %>

    <script>
      var user = JSON.parse('<%- JSON.stringify(user) %>') || null;
    </script>
    <script src="/js/account.js"></script>
  </body>
</html>
