<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="hero">
        <div class="hero-text">
          <h2>ERROR</h2>
          <p><%- message %></p>
          <a href="/">Go back to homepage</a>
        </div>
      </section>

      <%- include('separator') %>
    </main>

    <%- include('footer') %>
  </body>
</html>
