<footer>
  <div class="space-banner">
    <div class="social-links">
      <a href="https://discord.gg/psg">
        <img src="/resources/icons/discord.png" alt="Discord" />
      </a>
      <a href="https://steamcommunity.com/groups/p-sg">
        <img src="/resources/icons/steam.png" alt="Steam" />
      </a>
      <a href="https://www.patreon.com/pressstartgaming">
        <img src="/resources/icons/patreon.png" alt="Patreon" />
      </a>
      <a href="https://www.twitch.tv/press__start__gaming">
        <img src="/resources/icons/twitch.png" alt="Twitch" />
      </a>
      <a href="https://www.youtube.com/channel/UCnbocjC2cMTMOhLJ1_m13TQ">
        <img src="/resources/icons/youtube.png" alt="YouTube" />
      </a>
    </div>
    <div class="rights">
      <p>&copy; 2025 Press Start Gaming. All rights reserved.</p>
    </div>
  </div>
</footer>
