<footer>
  <div class="space-banner">
    <div class="footer-links">
      <a href="/tos" class="link">Terms of Service</a> |
      <a href="/privacy" class="link">Privacy Policy</a>
    </div>
    <div class="rights">
      <p>&copy; 2025 Press Start Gaming. All rights reserved.</p>
    </div>
  </div>
</footer>
