<footer>
  <div class="space-banner">
    <div class="social-links">
      <a href="https://discord.com">
        <img
          src="/resources/icons/discord.png"
          alt="Discord"
          width="32"
          height="32"
        />
      </a>
      <a href="https://steam.com">
        <img
          src="/resources/icons/steam.png"
          alt="Steam"
          width="32"
          height="32"
        />
      </a>
      <a href="https://patreon.com">
        <img
          src="/resources/icons/patreon.png"
          alt="Patreon"
          width="32"
          height="32"
        />
      </a>
      <a href="https://twitch.com">
        <img
          src="/resources/icons/twitch.png"
          alt="Twitch"
          width="32"
          height="32"
        />
      </a>
      <a href="https://youtube.com">
        <img
          src="/resources/icons/youtube.png"
          alt="YouTube"
          width="32"
          height="32"
        />
      </a>
    </div>
    <div class="rights">
      <p>&copy; 2024 Press Start Gaming. All rights reserved.</p>
    </div>
  </div>
</footer>
