<header>
  <div class="space-banner">
    <div class="psg-logo">
      <a href="/">
        <img src="/resources/PSGLogo.png" alt="PSG Logo" />
      </a>
    </div>
    <div class="social-links">
      <a href="https://discord.gg/psg">
        <img src="/resources/icons/discord.png" alt="Discord" />
      </a>
      <a href="https://steamcommunity.com/groups/p-sg">
        <img src="/resources/icons/steam.png" alt="Steam" />
      </a>
      <a href="https://www.patreon.com/pressstartgaming">
        <img src="/resources/icons/patreon.png" alt="Patreon" />
      </a>
      <a href="https://www.twitch.tv/press__start__gaming">
        <img src="/resources/icons/twitch.png" alt="Twitch" />
      </a>
      <a href="https://www.youtube.com/channel/UCnbocjC2cMTMOhLJ1_m13TQ">
        <img src="/resources/icons/youtube.png" alt="YouTube" />
      </a>
    </div>
  </div>
  <nav>
    <div class="menu-icon" onclick="toggleNavbar()">☰ Menu</div>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/about">About PSG</a></li>
      <li><a href="/merch">PSG Merch</a></li>
      <li><a href="/rent-a-server">Rent a Server</a></li>
    </ul>
  </nav>
  <script>
    function toggleNavbar() {
      const navbar = document.querySelector('.navbar');
      navbar.classList.toggle('active');
    }
  </script>
</header>
