<header>
  <div class="space-banner">
    <div class="psg-logo">
      <img src="/resources/PSGLogo.png" alt="PSG Logo" />
    </div>
  </div>
  <!--   <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games">Games</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav> -->
</header>
