<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="hero">
        <div class="hero-text">
          <h2>Welcome to Press Start Gaming</h2>
          <p>
            PSG is a grass-roots video game server host and gaming community.
            Our mission is to help bring gamers together.
          </p>
        </div>
      </section>

      <%- include('separator') %>

      <section class="games-list">
        <h1>Games We Play</h1>
        <div class="game-tile-container">
          <div class="game-tile">
            <img src="/resources/gameHeaders/squad.png" alt="Squad" />
            <h2>Squad</h2>
            <p>A tactical first-person shooter game.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/squad44.png" alt="Squad 44" />
            <h2>Squad 44</h2>
            <p>A World War II tactical shooter.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/minecraft.png" alt="Minecraft" />
            <h2>Minecraft</h2>
            <p>A sandbox game about placing blocks and going on adventures.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/foundryvtt.png" alt="FoundryVTT" />
            <h2>FoundryVTT</h2>
            <p>A virtual tabletop for playing RPGs online.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/valheim.png" alt="DayZ" />
            <h2>Valheim</h2>
            <p>A survival game set in a procedurally generated world.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/arma.png" alt="DayZ" />
            <h2>Arma 3</h2>
            <p>A military simulation game set in a massive open world.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/fivem.png" alt="DayZ" />
            <h2>FiveM</h2>
            <p>A multiplayer modification framework for Grand Theft Auto V.</p>
          </div>
          <div class="game-tile">
            <img src="/resources/gameHeaders/dayz.png" alt="DayZ" />
            <h2>DayZ</h2>
            <p>A survival game set in a post-apocalyptic world.</p>
          </div>
        </div>
      </section>

      <%- include('separator') %>
    </main>

    <%- include('footer') %>

    <script src="/js/scripts.js"></script>
  </body>
</html>
