<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/rentals.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="rentals-hero">
        <div class="rentals-hero-text">
          <h2>Rent a Game Server</h2>
          <p>
            We have game servers available for rent. If you are interested in
            renting a server, please visit our Discord Server and create a
            ticket.
          </p>
        </div>
      </section>
    </main>

    <%- include('footer') %>
  </body>
</html>
