<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/rentals.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="rentals-hero">
        <div class="rentals-hero-text">
          <h2>Rent a Game Server</h2>
          <p class="rentals-hero-p">
            We have game servers available for rent. If you are interested in
            renting a server, please visit our
            <a
              class="link"
              href="https://discord.gg/psg"
              target="_blank"
              rel="noopener noreferrer"
              >Discord Server</a
            >
            and create a ticket.<br /><br />
            We have servers available for the following games:
          </p>
          <p class="subtext">
            If the game you are looking for isn't listed, please create a ticket
            on our
            <a
              class="link"
              href="https://discord.gg/psg"
              target="_blank"
              rel="noopener noreferrer"
              >Discord Server</a
            >
            and let us know which game you are interested in.
          </p>
        </div>
      </section>

      <section class="game-list">
        <div class="game">
          <img src="/resources/gameHeaders/squad.png" alt="Squad" />
          <div class="game-description">
            <h3>Squad</h3>
            <p>
              Squad is a tactical first-person shooter video game "set in the
              current modern day environment" being developed by Canadian studio
              Offworld Industries.
            </p>
            <p class="price">Price: $75/month for a 100 Player Server</p>
          </div>
        </div>
        <div class="game">
          <img src="/resources/gameHeaders/squad44.png" alt="Squad 44" />
          <div class="game-description">
            <h3>Squad 44</h3>
            <p>
              Squad 44 is a WW2 simulation game, focusing on historical
              accuracy, large scale battles, a difficult learning curve and an
              intense need for cohesion, communication and teamwork.
            </p>
            <p class="price">Price: $75/month for a 100 Player Server</p>
          </div>
        </div>
        <div class="game">
          <img src="/resources/gameHeaders/minecraft.png" alt="Minecraft" />
          <div class="game-description">
            <h3>Minecraft</h3>
            <p>
              Build and explore in a blocky, procedurally-generated 3D world.
            </p>
            <p class="price">Price: $5/month per 2GB RAM</p>
          </div>
        </div>
        <div class="game">
          <img src="/resources/gameHeaders/valheim.png" alt="Valheim" />
          <div class="game-description">
            <h3>Valheim</h3>
            <p>Survive and conquer in a Norse mythology-inspired world.</p>
            <p class="price">Price: $6/month per 2GB RAM</p>
          </div>
        </div>
        <!-- Add more games as needed -->
      </section>
      <%- include('separator') %>
    </main>

    <%- include('footer') %>
  </body>
</html>
