<section class="separator">
  <div class="separator-images">
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
    <img src="/resources/PSG.gif" alt="PSG PixelBud" />
  </div>
</section>
