<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Start Gaming</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/tos.css" />
    <link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <section class="tos-hero">
        <div class="tos-hero-text">
          <h2>Terms of Service</h2>
          <p>
            By using our website, you agree to the following terms of service.
          </p>
          <h3>Usage Guidelines</h3>
          <p>
            You agree to use our website in a manner that is consistent with all
            applicable laws and regulations. You may not use our website to
            engage in any illegal activities or to infringe the rights of
            others.
          </p>
          <h3>Disclaimers</h3>
          <p>
            Our website is provided on an "as is" and "as available" basis. We
            make no warranties or representations of any kind, express or
            implied, as to the operation of our website or the information,
            content, materials, or products included on our website.
          </p>
          <h3>Changes to Terms</h3>
          <p>
            We reserve the right to change these terms of service at any time.
            Your continued use of our website after any changes to these terms
            will be deemed acceptance of those changes.
          </p>
        </div>
      </section>

      <%- include('separator') %>
    </main>

    <%- include('footer') %>
  </body>
</html>
